# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Photobooth App Specific
captures/
raw_captures/
output/
send linh gay/
*.log
*.orig
*.cube
*.xmp

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Large Assets
frames/
assets/

# OS
.DS_Store
Thumbs.db
